<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - UniversitySystem</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/css/bootstrap4-toggle.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/Hover.css">
    <link rel="stylesheet" href="~/css/myStyles.css" />

</head>
<body>
    <header class="my-nav">
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">University</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <div class="navbar-nav">
                        
                            <a class="nav-item nav-link text-light hvr-fade" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                       
                            <a class="nav-item nav-link text-light hvr-fade" asp-area="" asp-controller="Faculties" asp-action="Index">Faculties</a>
                        
                            <a class="nav-item nav-link text-light hvr-fade" asp-area="" asp-controller="Studies" asp-action="Index">Studies</a>
                      
                            <a class="nav-item nav-link text-light hvr-fade" asp-area="" asp-controller="Subjects" asp-action="Index">Subjects</a>
                       
                            <a class="nav-item nav-link text-light hvr-fade" asp-area="" asp-controller="Posts" asp-action="Index">Posts</a>
                        
                            <a class="nav-item nav-link text-light hvr-fade" asp-area="" asp-controller="Home" asp-action="AddNew">Add New</a>
                        

                    </div>
                    </div>
                    <partial name="_LoginPartial" />
                </div>
        </nav>
    </header>
    <div class="container my-web-container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            <span style="color:#ffffff;">&copy; 2021 - UniversitySystem - </span><a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/js/bootstrap4-toggle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
