@model UniversitySystem.Models.Studies.StudieViewModel

@{
    ViewData["Title"] = "Details";
}

<h1 class="my-heading">Details</h1>

<div>
    <h4>@Html.DisplayFor(model => model.Name)</h4>
    <hr />
    <table class="table">
        <tr> 
            <th>
                Subjects
            </th>

        </tr>
            @foreach (var subject in ViewBag.Subjects)
            {
                <tr>
                    <td>

                        @subject.Name

                    </td>
                </tr>
                }
            
        </table>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
