@model UniversitySystem.Models.Studies.StudieViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>StudieViewModel</h4>
    <hr />
    <table>
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>

            <th>
                Subjects
            </th>

        </tr>
        <tr>
            @foreach(var subject in ViewBag.Subjects)
            {
                <td>

                    @subject.Name

                </td>
            }
        </tr>
    </table>>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
